/* Font Styles */

@font-face {
    font-family: 'BentonFont';
    src: url('fonts/benton/BentonSansThin/bentonsans-thin-webfont.eot');
    src: url('fonts/benton/BentonSansThin/bentonsans-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/benton/BentonSansThin/bentonsans-thin-webfont.woff') format('woff'),
         url('fonts/benton/BentonSansThin/bentonsans-thin-webfont.ttf') format('truetype'),
         url('fonts/benton/BentonSansThin/bentonsans-thin-webfont.svg#BentonSansThin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BentonSansLight';
    src: url('fonts/benton/BentonSansLight/bentonsans-light-webfont.eot');
    src: url('fonts/benton/BentonSansLight/bentonsans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/benton/BentonSansLight/bentonsans-light-webfont.woff') format('woff'),
         url('fonts/benton/BentonSansLight/bentonsans-light-webfont.ttf') format('truetype'),
         url('fonts/benton/BentonSansLight/bentonsans-light-webfont.svg#BentonSansLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BentonSansBook';
    src: url('fonts/benton/BentonSansBook/bentonsans-book-webfont.eot');
    src: url('fonts/benton/BentonSansBook/bentonsans-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/benton/BentonSansBook/bentonsans-book-webfont.woff') format('woff'),
         url('fonts/benton/BentonSansBook/bentonsans-book-webfont.ttf') format('truetype'),
         url('fonts/benton/BentonSansBook/bentonsans-book-webfont.svg#BentonSansBook') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Default Style*/

.gray-bg {
	background: #f4f5f5; /* Old browsers */
	background: -moz-linear-gradient(top, #f4f5f5 0%, #e7e7e9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f5f5), color-stop(100%,#e7e7e9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f4f5f5 0%,#e7e7e9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f4f5f5 0%,#e7e7e9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f4f5f5 0%,#e7e7e9 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f4f5f5 0%,#e7e7e9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f5f5', endColorstr='#e7e7e9',GradientType=0 ); /* IE6-9 */
}

.rounded-corners {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.shadow {
     -moz-box-shadow: 1px 1px 3px #c1c1c1;
     -webkit-box-shadow: 1px 1px 3px #c1c1c1;
     box-shadow: 1px 1px 3px #c1c1c1;
}

.animation {
        -webkit-transition-property: left, right, top, border-radius;
	-moz-transition-property: left, right, top, border-radius;
	-ms-transition-property: left, right, top, border-radius;
	-o-transition-property: left, right, top, border-radius;
	transition-property: left, right, top, border-radius;
	-webkit-transition-duration: 700ms;
	-moz-transition-duration: 700ms;
	-ms-transition-duration: 700ms;
	-o-transition-duration: 700ms;
	transition-duration: 700ms;
        transition-timing-function: ease-in-out;
        -moz-transition-timing-function: ease-in-out; /* Firefox 4 */
        -webkit-transition-timing-function: ease-in-out; /* Safari and Chrome */
        -o-transition-timing-function: ease-in-out; /* Opera */
}
/** Preloader **/
@media screen {

    div#preloader {
        position: absolute;
        left: -9999px;
        top:  -9999px;
    }

    div#preloader img {
        display: block;
    }
}
@media print {

    div#preloader, div#preloader img {
        visibility: hidden;
        display: none;
    }
}

/* Main Styles */

body {
	width: 100%;
	position: absolute;
	font-size: 10px;
	font-family: 'BentonFont';
	margin: 0;
	padding: 0;
	color: #555;
	top: 0;
    left: 0;
	color: #555;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
	background: #FFF;
        overflow: hidden;
        overflow-y: visible;
        overflow: overflow-y;        
}

ul > li {
	list-style: none;
}

h1, h2, h3, h4, h5 {
    text-transform:uppercase;
    letter-spacing: 1px;
}

a {
	text-decoration: none;
        border: 0 none;
}

canvas {
    display: block;
}

div:-webkit-full-screen {
  width: 100% !important;
}
div:-moz-full-screen {
  width: 100% !important;
}
:-webkit-full-screen .tohide {
  display: none; /* While in fullscreen, hide any children with class 'tohide' */
}
:-moz-full-screen .tohide {
  display: none; /* While in fullscreen, hide any children with class 'tohide' */
}

#page {
	background: #fff;
}

#header {
	margin: 0;
	padding: 0;
}

#content {        
    position: relative;
}

#sidebar {
	padding: 20px 20px 20px 0;
}

#footer {
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo {
	padding: 10px 20px;
}

#mainmenu {
	position: fixed;
	right: -300px;
	top: 38%;
	z-index: 149;
	-webkit-transition-property: top, right;
	-moz-transition-property: top, right;
	-ms-transition-property: top, right;
	-o-transition-property: top, right;
	transition-property: top, right;
	-webkit-transition-duration: 600ms;
	-moz-transition-duration: 600ms;
	-ms-transition-duration: 600ms;
	-o-transition-duration: 600ms;
	transition-duration: 600ms;
        transition-timing-function: ease;
        -moz-transition-timing-function: ease; /* Firefox 4 */
        -webkit-transition-timing-function: ease; /* Safari and Chrome */
        -o-transition-timing-function: ease; /* Opera */
}

#mainmenu ul {
        width: 100%;
}

#mainmenu ul li {
        width: 100%;
        margin-bottom: 15px;
	   list-style: none;
}

#mainmenu ul li a {
        display: block;
        background-origin: content-box;
        -webkit-background-size: 100% 100%;
        -moz-background-size: 100% 100%;
        background-size: 100% 100%;
}

/** Main Menu Images **/

#mainmenu ul li a.m-icon {
    background: url(../png/m-icon-normal.png) center center no-repeat;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
}

#mainmenu ul li a.m-icon.active, #mainmenu ul li a.m-icon:hover, #mainmenu ul li.m-icon-wrapper {
    background: url(../png/m-icon-hover.png) center center no-repeat;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
}

#mainmenu ul li a.contact-icon {
    background: url(../png/contact-icon-normal.png) center center no-repeat;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
}

#mainmenu ul li a.contact-icon.active, #mainmenu ul li a.contact-icon:hover, #mainmenu ul li.contact-icon-wrapper {
    background: url(../png/contact-icon-hover.png) center center no-repeat;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
}

#mainmenu ul li a.filter-icon {
    background: url(../png/filter-icon-normal.png) center center no-repeat;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
}

#mainmenu ul li a.filter-icon.active, #mainmenu ul li a.filter-icon:hover, #mainmenu ul li.filter-icon-wrapper {
    background: url(../png/filter-icon-hover.png) center center no-repeat;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
}

.menu-item {
	position: fixed;
	display: none;
	top: 0px;
	z-index: 140;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.menu-item-wrapper {
	padding: 3% 10%;
}

.menu-item-wrapper.categories {
    padding: 0% 5%;
}

#categories {
    background: url(../png/filter-overlay.png) no-repeat 100% 100%;
    background-size: 100% 100%;
}

#categories a {
	text-transform: uppercase;
	color: #808080;
}

#categories a.selected {
    font-family: 'BentonSansLight';
	color: #41FD41;
}

#categories .filter {
    margin: 0% 5%;
    position: absolute;
}

#categories ul li{
    font-size: 1.8em;
    line-height: 2em;
    color: #808080;
    padding: 0;
}

#categories ul li.view-all {
    color: #00FF00;
    margin-top: 1em;
}

/* UI Autocomplete */

.ui-helper-hidden-accessible {
    display: none;
}

.ui-autocomplete {
    position: absolute;
    font-family: 'BentonSansLight';
    text-transform:uppercase;
    font-size: 1.4em;
    line-height: 1.2em;
    background: #F5F6F6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    moz-box-shadow: 1px 1px 3px #E1E1E1,  0px 0px 2px #CECECE;
    -webkit-box-shadow: 1px 1px 3px #E1E1E1,  0px 0px 2px #CECECE;
    box-shadow: 1px 1px 3px #E1E1E1,  0px 0px 2px #CECECE;
    z-index: 2000;
}

.ui-autocomplete li a{
    display: block;
    margin: 2%;
    color: #808080;
}

.ui-autocomplete li:hover a{
    color: #00FF00;
}


#about {
        background: url(../png/mass-overlay.png) no-repeat 100% 100%;
        background-size: 100% 100%;
}

.menu-item-wrapper.about .about {
    width: 99%;
    padding-right: 1%; 
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
}

.about h1 {
    font-size: 4.5em;
    margin: 0.8em 0;
    color: #808080;
}

.about p {
    font-size: 3em;
    margin-bottom: 0.8em;
    color: #404041;
}

#contact {
	color: #666;
    background: url(../png/contact-overlay.png) no-repeat 100% 100%;
    background-size: 100% 100%;
}

#contact:hover {
	color: #666;
        background: url(../png/contact-overlay.png) no-repeat 100% 100%;
        background-size: 100% 100%;
}

#contact .menu-item-wrapper {
	padding: 0 10% 0 8%;
    position: relative;
}

.contact-map {
    margin-right: 5%;
	position: relative;
}

#canvas-wrapper {
    width: 100%;
    z-index: 20;
}

#globeCanvas {
    margin: auto;
    position: relative;
    z-index: 10;
}

#globeCircle {
    width: 100%;
    position: absolute;
    top: -2px;
}

#globeCircle img {
    display: block;
    margin: auto;
}

.marker
{
    font-family: 'BentonSansLight';
    width: 3%;
    position: absolute;
    z-index: 25;
}

.marker img {
    width: 100%;
}
            
.markerText
{
    font-size: 1.6em;
    color: #FFFFFF;
    margin-left: 25px;
    margin-top: -3px;
}

.city {
    width: 100%;
    margin: 5% auto;
    margin-right: 5%;
    display: none;
	color: #808080;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
}

.city .cell {
    display: inline-block;
    margin: 1% 0;
    width: 49.5%;
    vertical-align: middle;
}

.city h2 {
    font-family: 'BentonFont';
    font-size: 4.2em;
}

.city .cell.headline {
    text-align: right;
}

.city .cell.details {
    font-size: 1.7em;
}

.city p {
    float: left;
    padding-left: 2%;
}

.city .cell.details a {
    color: #808080;
}

.city .cell.details a:hover {
    color: #00b2FF;
}

.image {
	width: 100%;
        text-align: center;
}

.image img {
    width: 72.6666667%;
    vertical-align: middle;    
    display: block;
    margin: 13.6666667%;
    margin-bottom: 0;
}

#box-wrapper {
        position: relative;        
        display: none;
        margin: 0.390625% auto;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;
}

.box_item {
	vertical-align: middle;
	position: absolute;
	width: 30%;
	padding: 0;
    margin: 0;
    background: url(../png/box-bg.png);
    -webkit-border-radius: 12%;;
	-moz-border-radius: 12%;
	border-radius: 12%;
    moz-box-shadow: 1px 1px 3px #E1E1E1,  0px 0px 2px #CECECE;
    -webkit-box-shadow: 1px 1px 3px #E1E1E1,  0px 0px 2px #CECECE;
    box-shadow: 1px 1px 3px #E1E1E1,  0px 0px 2px #CECECE;
}

.box_item.hidden, .box_item#view-all {
    display: none;
}

#view-all img{
    width: 35%;
    margin: 25% auto;
}

.box_item a {
    display: block;
}

.detailed-item ul, div.slides-admin{
    width: 98%;
}

.box_item.detail {
    position: absolute;
    -webkit-border-radius: 7%;
    -moz-border-radius: 7%;
    border-radius: 7%;
}

.box_item.detail #swipe-wrapper {
    width: 100%;
    margin: auto;
    opacity: 1;
}

.box_item.detail #swipe-wrapper li{
    visibility: hidden;
}

.box_item.detail #swipe-wrapper li p.slide-caption, #swipe-wrapper-fullscreen li p.slide-caption{
    font-family: 'BentonSansBook';
    position: absolute;
    width: 100%;
    text-align: center;
    display: block;
    bottom: 1%;
    font-size: 1.2em;
    color: #929497;
}

.box_item.detail .ajax img{
    width: 100%;
    display: block;
    margin: auto;
}

.box_item.detail .detailed-item {
    padding: 6.518282989%;
    margin: auto;

}

.detailed-item .closesign, .detailed-item .text-closesign, .detailed-item .text-closesign-fullscreen, #fullscreen-video-wrapper .text-closesign-fullscreen {
    position: absolute;
    top: 2%;
    right: 2%;
    cursor: pointer;
}

.detailed-item .closesign, #fullscreen-video-wrapper .text-closesign-fullscreen, .detailed-item .text-closesign-fullscreen {
    width: 2.464228935%;
    padding: 1%;
}

.detailed-item .text-closesign {
    width: 2.361396304%;
    padding: 1%;
}

#fullscreen-wrapper .closesign, #fullscreen-video-wrapper .text-closesign-fullscreen {
    top: 0%;
    right: 0%;
    margin-right: 5px;
    z-index: 1151;
}

.detailed-item .text-overlay, .detailed-item .text-overlay-fullscreen {
    position: absolute;
    display: none;
    z-index: 130;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
}

.detailed-item .text-overlay-fullscreen {
    background: #EFF0F0;
    opacity: 0.95;
    webkit-border-radius: 7%;
    -moz-border-radius: 7%;
    border-radius: 7%;
    moz-box-shadow:1px 1px 5px #CCC, 0px 0px 1px #AAA;
    -webkit-box-shadow: 1px 1px 5px #CCC, 0px 0px 1px #AAA;
    box-shadow: 1px 1px 5px #CCC, 0px 0px 1px #AAA;
}

.detailed-item .text-overlay {    
    background: url(../png/text-overlay.png) no-repeat 100% 100%;
    background-size: 100% 100%;
}

.detailed-item .text-wrapper {
    margin: 6.518282989% 2% 6.518282989% 6.518282989%;
    padding-right: 4.518282989%;
    font-size: 1.5em;
}

.text-wrapper h2, .text-wrapper h1, .text-wrapper h3, .text-wrapper p {   
    font-family: 'BentonSansLight';  
    margin: 0.5em 0;
    color: #404041;
    text-align:justify;
    line-height: 1.5em;
}

.text-wrapper a.read-more {
    font-family: 'BentonSansLight';
    font-size: 0.8em;
    padding-left: 0.5em;
    color: #404041;
    display: inline;
    letter-spacing: 1px;
}

.text-wrapper a.read-more:hover {
    color: #FF0000;
}

.itunes-link a {
    font-family: 'BentonSansLight';
    font-size: 0.8em;
    color: #FF0000;
}

.play-icon {
    display: block; /* Start hidden */ z-index: 2;
    position: absolute; 
    top: 50%; left: 50%;   
    text-align: center; vertical-align: center; cursor: pointer !important;
    opacity: 0.95;
    background: transparent;
}

/* Fullscreen Video Wrapper */

#fullscreen-video-wrapper{
    display: none;
}

#fullscreen-video-wrapper .text-closesign-fullscreen img {
    width: 100%;
}

/* Fullscreen Wrapper */

#fullscreen-wrapper {
    background: #000;
    position: fixed;
    display: none;
    top: 0px;
    left: 0px;
    z-index: 150;
}

#fullscreen-wrapper .bottom-links {
    width: 100%;
}

#swipe-wrapper-fullscreen {
    margin: auto;
    width: 100%;
}

#swipe-wrapper-fullscreen ul{
    display: table;
}

#fullscreen-wrapper #swipe-wrapper-fullscreen li{
    text-align: center;
    position: relative;
    visibility: hidden;
    overflow: hidden;
}

#fullscreen-wrapper #swipe-wrapper-fullscreen li img.slide-image{
    margin: auto;
    position: absolute;
}

.large-arrows {
    position: absolute;
    top: 50%;
    width: 30px;
    margin-top: -29px;
    cursor: pointer;
}

.large-arrows#fullscreen-prev {
    padding-left: 5px;
    left: 1%;
}

.large-arrows#fullscreen-next {
    padding-right: 5px;
    right: 1%;
}


.large-arrows.ipad {
    display: none;
}

.closesign img {
    display: block;
    width: 2.4642289%;
}

.box_item h2.title{
    position: absolute;
    bottom: 4%;
    left: 0;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 1.2em;
    letter-spacing: 1px;
    line-height: 1em;
    color: #808080;
    z-index: 100;
}

.box_item.detail .links {
    position: absolute;
    bottom: -5px;
    left: 0;
    z-index: 110;
    display: none;
}

.box_item.detail .links .cell{
    display: table-cell;
    vertical-align: middle;
    width: 85px;
}

.box_item.detail .links .cell.pin-it{
    display: table-cell;
    vertical-align: middle;
    width: 50px;
}

.box_item.detail .links .cell iframe{
    display: block;
    width: 80px !important;
}

.box_item.detail .bottom-links, #fullscreen-wrapper .bottom-links {
    font-size: 1.2em;
    line-height: 1em;
    letter-spacing: 1px;
    color: #808080;
    position: absolute;
    bottom: 2.0%;
    left: 0;
    margin: 0 6.518282989%;
    width: 86.963434022%;
    display: table;
    z-index: 100;
}

.bottom-links .share, .bottom-links .read, .bottom-links .zoom, .bottom-links #navigation {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.bottom-links .share, .bottom-links .read, .bottom-links .zoom {
    width: 9%;
    text-align: right;
    padding-left: 1%;
    cursor: pointer;
    padding-top: 4px;
}

.bottom-links .share {
    width: 20%;
    padding-left: 0%;
    text-align: left
}

#fullscreen-wrapper .bottom-links .share {
    width: 8%;
    text-align: left
}

#navigation {
    width: 60%;
    z-index: 50;
}

#fullscreen-wrapper #navigation {
    width: 100%;
}

#navigation li{
    display: inline-block;
    vertical-align: middle;
}

#navigation .dots {
    width: 2%;
    padding: 1% 0;
    margin: 0 1.5%;
    background: url(../png/dot-normal.png) no-repeat;
    background-size: 100% 100% 
}

#fullscreen-wrapper #navigation .dots {
    width: 1.5%;
    padding: 0.75% 0;
    margin: 0 1%;
}

#fullscreen-wrapper #navigation .next, #fullscreen-wrapper  #navigation .prev{
    width: 1.3%;
    padding: 1.3% 0;
}

#navigation .dots.active, #navigation .dots:hover {
     background: url(../png/dot-hover.png) no-repeat;
     background-size: 100% 100%;
}

#navigation .next,  #navigation .prev{
    width: 2%;
    padding: 2% 0;
    margin: 0 1%;
    background-size: 100% 100%;
}

#navigation .next {
    background: url(../png/arrow-right-normal.png) no-repeat;
    background-size: 100% 100%;
}

#navigation .next:hover {
    background: url(../png/arrow-right-hover.png) no-repeat;
    background-size: 100% 100%;
}

#navigation .prev {
    background: url(../png/arrow-left-normal.png) no-repeat;
    background-size: 100% 100%;
}

#navigation .prev:hover {
    background: url(../png/arrow-left-hover.png) no-repeat;
    background-size: 100% 100%;
}

#navigation.ipad .next, #navigation.ipad .prev {
    display: none;
}

.box_item.detail .text-overlay {
	display: none;
}

.closesign, .text-closesign-fullscreen {
	text-align: right;
	padding: 0 5px 0 0;
	cursor: pointer;
}

.share-links div {
	display: inline-block;
}

.share-links a {
	color: #555;
	font-size: 85%;
	padding: 0 0 2px 10px;
}

.share-links .read {
	float: right;
}
 
/* Admin */

.admin {
	padding: 1%;
    font-family: 'BentonSansLight';
        font-size: 2em;
        color: #333;
}

.admin h1 {
    font-size: 2em;
    line-height: 1.5em;
}

.admin h2 {
    font-size: 1.5em;
    line-height: 1.5em;
}

.items {
	width: 100%;
	display: table;
         padding: 0 1%;
}

.item#cloned-prototype {
    display: none !important;
}

.item {
	display: table-row;
}

.items .cell.item-id {
	width: 5%;
    
}

.items .cell {
	width: 15%;
	display: table-cell;
        vertical-align: middle;
}

.clean-border {
	border: none;
	font-size: inherit;
	font-family: 'BentonSansLight';
}

.toggle-type {
    text-transform: uppercase;
}

.item-date {
	text-align: center;
}

.item .cell.type {
    position: relative;
}

.button {
	margin: 3%;
	padding: 2% 3%;
	width: 85%;
	text-align: center;
	color: #333;
    border: 1px solid #DEDEDE;
	background: rgb(238,238,238); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
        -moz-box-shadow: 1px 1px 2px #888;
        -webkit-box-shadow: 1px 1px 2px #888;
        box-shadow: 1px 1px 2px #888;
}

.button a, .button p {
        display: block;
	color: #000000;
        line-height: 1.5em;
        padding: 0 2%;
        text-transform:uppercase;
}

.button a:hover, .button p:hover, input[type = 'submit'].button:hover {
	color: #FF0000;
}

.button:hover {
        border: 1px solid #BEBEBE;
        -moz-box-shadow: 1px 1px 3px #999;
        -webkit-box-shadow: 1px 1px 3px #999;
        box-shadow: 1px 1px 3px #999;
}

.button.small {
	margin: 10px 0;
	padding: 5px 0;
	min-width: 150px;
        max-width: 220px;
}

.button.large {
	margin: 5px 0;
	padding: 0;
	width: 98%;
}

.button.filefield {
    padding: 3%;
    text-transform:uppercase;
    font-family: 'BentonSansLight';
}

input[type = 'submit'].button {
    font-size: 1.1em;
    line-height: 1.2em;
    text-transform:uppercase;
    font-family: 'BentonSansLight';
}

.admin-buttons {
        overflow: hidden;
        clear: both;
}

.admin-buttons .cells {
	display: inline-block;
	width: 25%;
	margin-top: 2%;
}

.admin-buttons #select {
        float: right;
	width: 25%;
	margin-top: 2%;
}

.admin-buttons #sort, .detailed-item #select {
        padding: 3%;
        font-family: 'BentonSansLight';
        width: 91%;
}

.admin-buttons #submitButton {
        color: #000;
        width: 92%;
        cursor: pointer;
}

.admin-buttons #submitButton:hover {
        color: #FF0000;
}

.detailed-item .field {
        padding: 0 1%;
        width: 97%;
        clear: both;
}

.detailed-item .field.small {
        width: 50%;
}

.detailed-item .field p {
        font-size: 1.3em;
        margin: 0.5em 0;
}

.detailed-item .field input, .detailed-item .field textarea{
        width: 100%;
        padding: 5px 1%;
        font-size: 1.1em;
        border: 1px solid #DEDEDE;
        -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
        -moz-box-shadow: inset 1px 1px 3px #777;
        -webkit-box-shadow: inset 1px 1px 3px #777;
        box-shadow: inset 1px 1px 3px #777;
}


.detailed-item .field.small input {
        width: 93%;
}

.detailed-item .field p.value, .detailed-item .field div.value {
        padding: 10px;
        font-size: 1em;
        line-height: 1.1em;
        -moz-box-shadow: 1px 1px 2px #888;
        -webkit-box-shadow: 1px 1px 2px #888;
        box-shadow: 1px 1px 2px #888;
}

.detailed-item .field textarea{
        font-size: 0.8em;
        font-family: 'BentonSansLight';
}

.detailed-item .half{
	width: 47.5%;
	padding: 1%;
	display: inline-block;
	vertical-align: bottom;        
}

.detailed-item .half.top {
	vertical-align: top;
}

.detailed-item .half.bottom {
	vertical-align: bottom;
}

.detailed-item img {
	width: 100%;
	display: block;
}

.detailed-item .textfield {
	text-align: left;
        float: right;
        padding: 0 2%;
        width: 73%;
        clear: both;
        margin-bottom: 3%;
}

.detailed-item .textfield p {
        text-align: left;
}

.detailed-item .textfield textarea {
	width: 80% !important;
}

#select-categories {
    display: none;
}

#select-categories p {
    font-size: 0.8em;
    margin: 2% 0;
}

.detailed-item .categories-wrapper {
    background: #F1F1F1;
    border: 1px solid #CECECE;
    padding: 5px;
     -moz-box-shadow: inset 1px 1px 20px #DEDEDE;
    -webkit-box-shadow: inset 1px 1px 20px #DEDEDE;
    box-shadow: inset 1px 1px 20px #DEDEDE;
    overflow: hidden;
}

.detailed-item .categories-wrapper p {
    width: auto;
    float: left;
    padding: 5px;
    margin: 5px !important;
    font-size: 0.8em !important;
    border: 1px solid #c1c1c1;
     -moz-box-shadow: 1px 1px 3px #c1c1c1;
    -webkit-box-shadow: 1px 1px 3px #c1c1c1;
    box-shadow: 1px 1px 3px #c1c1c1;
    background: #e8e8e8; /* Old browsers */
    background: -moz-linear-gradient(top, #e8e8e8 0%, #c1c1c1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e8e8), color-stop(100%,#c1c1c1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e8e8e8 0%,#c1c1c1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e8e8e8 0%,#c1c1c1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e8e8e8 0%,#c1c1c1 100%); /* IE10+ */
    background: linear-gradient(to bottom, #e8e8e8 0%,#c1c1c1 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#c1c1c1',GradientType=0 ); /* IE6-9 */
}

.detailed-item .categories-wrapper p:hover {
    cursor: pointer;
}

.admin input.error {
        border: 1px solid #FF0000;
        -moz-box-shadow: inset 1px 1px 3px #FF0000;
        -webkit-box-shadow: inset 1px 1px 3px #FF0000;
        box-shadow: inset 1px 1px 3px #FF0000;
}

.admin .error {
    font-size: 0.9em;
    color: #FF0000;
}

.type-field {
    border: 0 none;
    background: transparent;
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
}

.empty-cell {
    display: table-cell;
    width: 0%;
    position: relative;
}

.inputs-popup {
    position: fixed;
    background: url(../png/text-overlay-large.png);
    background-size: 100% 100%;
    padding: 2%;
    top: 25%;
    left: 25%;
    z-index: 100;
    width: 50%;
    height: 50%;
}

.inputs-popup .close-icon {
    width: 3%;
    position: absolute;
    right: 25px;
    top: 20px;
    display: block;
    cursor: pointer;

}

.inputs-popup .drop-field {
    border: 2px dotted #CCC;
    width: 80%;
    text-align: center;
    padding: 40px;
    font-family: 'BentonSansBook';
    font-size: 20px;
    margin: 20px auto;
}

.inputs-popup .drop-field.active {
     border: 2px dotted #333;
}

.inputs-popup .poster {
    display: none;
}

#loaderImage {        
        display: none;   
}

#loaderImage canvas {
        display:block;
        position:fixed;
        z-index: 1500;
        left:50%;
        top:50%;
        margin-left:-16px;
        margin-top:-16px;
}

.loader {
    display: none;
    z-index: 120;
    position: absolute;
    width: 32px; height: 32px;
    left:50%;
    top:50%;
    margin-left:-16px;
    margin-top:-16px;
}


.image-popup, .save-popup {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: url(../images/transbg.png);
}

.popup-placeholder, .save-popup-placeholder {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    border: 1px solid #DEDEDE;
    -moz-box-shadow: 3px 3px 10px #000;
    -webkit-box-shadow: 3px 3px 10px #000;
    box-shadow: 3px 3px 10px #000;
}

.save-popup-placeholder {
    top: 25%;
    left: 25%;
    height: 50%;
    width: 50%;
    font-family: 'BentonSansBook';
    color: #333;
}

.save-popup {
    font-size: 14px;
    line-height: 20px;
}

#save-popup-buttons {
    position: absolute;
    bottom: 0;
    width: 98%;
    padding: 1%;
}

#save-popup-buttons a {
    display: block;
}

.inputs-popup {
    font-size: 1.5em;
    color: #111;
}

.inputs-popup .file-upload, .inputs-popup .file-preview {
    display: inline-block;
    vertical-align: top;
}

.inputs-popup .file-upload {
    width: 30%;
}

.inputs-popup .file-preview {
    width: 60%;
    text-align: center;
}

.inputs-popup p {
    font-family: 'BentonSansBook';
    font-size: 16px;
    margin: 10px auto;
}

.inputs-popup p.red, .save-popup p.red {
    color: #FF0000;
}

.inputs-popup h2, .inputs-popup h3 {
    font-size: 1.1em;
    line-height: 1.2em;
    margin-bottom: 5px;
}

.inputs-popup .file-preview img{
    width: 40%;
}

.box_item p.error, #fullscreen-wrapper p.error {
        font-size: 2em;
        position: absolute;
        top: 48%;
        display: block;
        text-align: center;
        width: 100%;
        color: #FF0000;
        font-weight: bold;
}

/* Login form*/

form#category-form {
    text-align: left;
}

#login-form {
	width: 60%;
	margin: auto;
}

#login-form .row {
    margin: 5px 0;
}

input {
        padding: 2px;
	font-family: 'BentonSansLight';
}

input.form-button  {
	font-size: 1em;
	font-family: 'BentonSansLight';
	color: #555;
	padding: 5px;
	cursor: pointer;
}

.form-button {
	display: inline-block;
	min-width: 200px;	
        margin: 5px 0;
        padding: 5px;
	text-align: center;	
	border: 1px solid #AAA;
        vertical-align: middle;
	background: #f4f5f5; /* Old browsers */
	background: -moz-linear-gradient(top, #f4f5f5 0%, #e7e7e9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f5f5), color-stop(100%,#e7e7e9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f4f5f5 0%,#e7e7e9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f4f5f5 0%,#e7e7e9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f4f5f5 0%,#e7e7e9 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f4f5f5 0%,#e7e7e9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f5f5', endColorstr='#e7e7e9',GradientType=0 ); /* IE6-9 */
}

#login-form .row label, #login-form input  {
	width: 120px;
	display: inline-block;
}

div#dialog {
    position: fixed;
    left: 35%;
    top: 50%;
    margin-top: -100px;
    width: 30%;
    height: 200px;
    display: none;
    font-size: 1.2em;
    line-height: 1.1em;
    background: #f4f5f5; /* Old browsers */
    background: -moz-linear-gradient(top, #f4f5f5 0%, #e7e7e9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f5f5), color-stop(100%,#e7e7e9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f4f5f5 0%,#e7e7e9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f4f5f5 0%,#e7e7e9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f4f5f5 0%,#e7e7e9 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f4f5f5 0%,#e7e7e9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f5f5', endColorstr='#e7e7e9',GradientType=0 ); /* IE6-9 */
    border: 1px solid #DEDEDE;
    -moz-box-shadow: 1px 1px 10px #888;
    -webkit-box-shadow: 1px 1px 10px #888;
    box-shadow: 3px 3px 15px #888;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

div#dialog p {
    padding: 1% 3%;
}

div#dialog .title, .ui-datepicker {
    font-size: 1.2em;
    color: #000;
    font-family: 'BentonSansBook';
    margin: 1%;
    padding: 1% 2%;
    line-height: 1.1em;
    border: 1px solid #BBB;
    background: rgb(226,226,226); /* Old browsers */
background: -moz-linear-gradient(top, rgba(226,226,226,1) 15%, rgba(211,211,211,1) 66%, rgba(201,201,201,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(15%,rgba(226,226,226,1)), color-stop(66%,rgba(211,211,211,1)), color-stop(100%,rgba(201,201,201,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(226,226,226,1) 15%,rgba(211,211,211,1) 66%,rgba(201,201,201,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(226,226,226,1) 15%,rgba(211,211,211,1) 66%,rgba(201,201,201,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(226,226,226,1) 15%,rgba(211,211,211,1) 66%,rgba(201,201,201,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(226,226,226,1) 15%,rgba(211,211,211,1) 66%,rgba(201,201,201,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#c9c9c9',GradientType=0 ); /* IE6-9 */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 1px 1px 2px #888;
    -webkit-box-shadow: 1px 1px 2px #888;
    box-shadow: 1px 1px 2px #888;
}

div#dialog .table {
    width: 90%;
    margin: auto;
    display: table;
}

div#dialog .table .cell{
    width: 33%;
    display: table-cell;
}

div#dialog .button {
    width: 80%;   
    margin: 3% auto;
}

#json-result {
    position: absolute;
    top: 1%;
    left: 15%;
    width: 70%;
    font-size: 1.5em;
    text-align: center;
}

.ui-datepicker {
    margin: 0%;
    padding: 1%;
    display: none;
    line-height: 1.2em;
}

.ui-datepicker .ui-datepicker-title {
    margin: 1% 0;
    clear: both;
}

.ui-datepicker-prev {
     margin: 1% 0;
    float: left;
}

.ui-datepicker-next {
     margin: 1% 0;
    float: right;
}

.ui-datepicker .ui-state-hover, .ui-datepicker .ui-state-highlight {
    color: #FF0000;
}

div.flash-error, div.flash-notice, div.flash-success {
	padding: .8em;
	margin-bottom: 1em;
	border: 2px solid #ddd;
}

div.flash-error {
	background: #FBE3E4;
	color: #8a1f11;
	border-color: #FBC2C4;
}

div.flash-notice {
	background: #FFF6BF;
	color: #514721;
	border-color: #FFD324;
}

div.flash-success {
	background: #E6EFC2;
	color: #264409;
	border-color: #C6D880;
}

div.flash-error a {
	color: #8a1f11;
}

div.flash-notice a {
	color: #514721;
}

div.flash-success a {
	color: #264409;
}

div.form .rememberMe label {
	display: inline;
}

div.view {
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs {
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span {
	font-weight: bold;
}

.search {
	width: 100%;
        margin: 5% 0;
        background: url(../png/search-box.png) no-repeat 100% 100%;
        background-size: 100% 100%;
}

.search input[type="text"] {
    border: 0 none;
    background: transparent;
	width: 100%;
    font-size: 1.5em;
    color: #a9a9a9;
    display: block;
	padding: 3px;
    text-transform:uppercase;
}

div.search-form {
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

div.search-form {
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet-decoration {
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title {
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content {
	font-size: 0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background: #EFFDFF;
}

.portlet-content ul {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.portlet-content li {
	padding: 2px 0 4px 0px;
}

.operations {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li {
	padding-bottom: 2px;
}

.operations li a {
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited {
	color: #0066A4;
}

.operations li a:hover {
	background: #80CFFF;
}

